In [1]:
# Importando Bibliotecas
import pandas as pd

In [7]:
df = pd.read_csv("/content/drive/MyDrive/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv", error_bad_lines=False, sep=";")

In [8]:
#Visualização de dados
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [13]:
df = df.rename(columns={"country":"Pais", "continent": "Continente", "year": "Ano", "lifeExp": "Expectativa de Vida", "pop":"População Total", "gdpPercap": "PIB"})

In [14]:
df.head()

          Pais Continente  ...  População Total         PIB
0  Afghanistan       Asia  ...          8425333  779.445314
1  Afghanistan       Asia  ...          9240934  820.853030
2  Afghanistan       Asia  ...         10267083  853.100710
3  Afghanistan       Asia  ...         11537966  836.197138
4  Afghanistan       Asia  ...         13079460  739.981106

[5 rows x 6 columns]

In [16]:
df.shape

(3312, 6)

In [17]:
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa de Vida', 'População Total',
       'PIB'],
      dtype='object')

In [18]:
df.dtypes

Pais                    object
Continente              object
Ano                      int64
Expectativa de Vida    float64
População Total          int64
PIB                    float64
dtype: object

In [19]:
df.tail()

          Pais Continente  ...  População Total         PIB
3307  Zimbabwe     Africa  ...          9216418  706.157306
3308  Zimbabwe     Africa  ...         10704340  693.420786
3309  Zimbabwe     Africa  ...         11404948  792.449960
3310  Zimbabwe     Africa  ...         11926563  672.038623
3311  Zimbabwe     Africa  ...         12311143  469.709298

[5 rows x 6 columns]

In [20]:
df.describe()

               Ano  Expectativa de Vida  População Total            PIB
count  3312.000000          3312.000000     3.312000e+03    3312.000000
mean   1980.301630            65.246871     3.161489e+07   11317.115805
std      16.927294            11.768412     1.041193e+08   11369.142739
min    1950.000000            23.599000     5.941200e+04     241.165877
25%    1967.000000            58.337500     2.678572e+06    2514.625266
50%    1982.000000            69.610000     7.557218e+06    7838.505123
75%    1996.000000            73.657750     1.958522e+07   17357.879170
max    2007.000000            82.670000     1.318683e+09  113523.132900

In [21]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [22]:
Oceania = df.loc[df["Continente"] == "Oceania"]
Oceania.head()

     Pais Continente   Ano  Expectativa de Vida  População Total          PIB
975  Fiji    Oceania  1962               56.494           421869  2039.393277
976  Fiji    Oceania  1967               58.607           485000  2170.073285
977  Fiji    Oceania  1972               60.642           544000  2797.759484
978  Fiji    Oceania  1977               62.669           599339  3182.569600
979  Fiji    Oceania  1982               64.683           658906  3209.257468

In [24]:
df.groupby("Continente")["Pais"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [26]:
#Qual a expectativa média de vida em cada ano?
df.groupby("Ano")["Expectativa de Vida"].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283437
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921563
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa de Vida, dtype: float64

In [27]:
# Qual a média do PIB em cada ano?
df.groupby("Ano")["PIB"].mean()

Ano
1950     5788.110310
1951     7166.681214
1952     3800.766586
1953     7285.913057
1954     7559.357116
1955     7906.255157
1956     8146.745638
1957     4358.649181
1958     8329.075477
1959     8637.004923
1960     9311.447138
1961     9657.449230
1962     4771.034659
1963    10302.720880
1964    10880.002666
1965    11009.436198
1966    11407.936949
1967     5640.614937
1968    12095.218086
1969    12717.193129
1970    13193.384595
1971    13653.770833
1972     7612.258069
1973    13910.290788
1974    15255.035599
1975    15174.660729
1976    15647.201655
1977     8410.910865
1978    16385.250063
1979    16882.201717
1980    17198.892959
1981    17323.687800
1982     8553.177670
1983    18293.203295
1984    18935.839670
1985    19371.587500
1986    19941.491785
1987     8799.155313
1988    21020.910260
1989    21583.937476
1990    19945.549401
1991    19894.172876
1992     8960.826471
1993    19541.867254
1994    19962.678837
1995    20389.866909
1996    20857.618679
1997     9769.397157
1998    22261.291074
1999    22965.892403
2000    23866.074105
2001    24237.995166
2002    10657.928831
2003    25046.668079
2004    25949.492592
2005    26509.633333
2006    27249.624396
2007    12403.126861
Name: PIB, dtype: float64